/* General styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-top: #A11F3E solid 2px;
  border-bottom: #A11F3E solid 2px;
  height: fit-content;
  width: 100%;
}

h2 {
  text-align: center;
}

/* Grid */
.grid {
  width: 100%;
  height: 260vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 9fr 15fr 1fr;
}

.grid-sources {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

/* Navigation bar */
.navigation {
  padding: 0 20px;
  grid-column: span 6;
  display: flex;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #A11F3E;
  align-items: center;
  justify-content: space-between;
}

.navigation nav {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
}

.navigation nav a {
  margin-left: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border-bottom: 2px #A11F3E solid;
}

.navigation nav a:hover {
  color: #A11F3E;
}

.nav-row {
  margin: 10px 0;
}

.logo {
  margin: 5px;
}

/* Header */
.uat {
  grid-column: span 6;
  border-bottom: 2px #A11F3E solid;
  background-image: url("../images/diversity.jpg");
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.university {
  grid-column: span 3;
  border-right: 2px #A11F3E solid;
  background-image: url("../images/university.jpg");
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  grid-column: span 3;
  display: flex;
  background-image: url("../images/welcome.jpg");
  background-size: cover;
}

/* Footer */
footer {
  padding: 0 20px;
  grid-column: span 6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  background-color: #A11F3E;
}

footer a {
  padding: 5px;
  color: white;
}

.footer-container {
  padding: 10px;
}

/* Sources */
.sources {
  grid-column: span 6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.source {
  width: fit-content;
  height: fit-content;
  border: #A11F3E solid 2px;
  padding: 0 10px;
  margin: 20px;
}

/* Hide or show on PC */
.hide-on-pc {
  display: none;
}

/* Responsive design for mobile devices */
@media only screen and (max-width: 600px) {

  /* Hide or show on mobile devices */
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }

  /* General styles */
  h3 {
    margin: 0;
    padding: 0;
  }

  /* Grid */
  .grid {
    height: 320vh;
    grid-template-rows: 9fr 8fr 14fr 1fr;
  }

  /* Mobile navigation bar */
  .mobile-navigation {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    min-height: 60px;
    width: 100%;
    background-color: #A11F3E;
  }

  .dropdown-container {
    display: flex;
    flex-direction: column;
    background-color: #A11F3E;
    width: 100%;
  }

  /* Hamburger button */
  .dropdown-hamburger {
    align-self: flex-end;
    background-color: #6b1b2e;
    height: 60px;
    width: 60px;
    padding: 5px;
  }

  .hamburger {
    border-bottom: 2px solid white;
    margin: 10px;
  }

  .dropdown {
    border-top: 1px #c43556 solid;
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .dropdown a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    border-bottom: 1px #c43556 solid;
  }

  .dropdown a:hover {
    background-color: #6b1b2e;
  }

  .dropdown:target {
    display: flex;
  }

  #close-menu {
    text-align: center;
    font-weight: normal;
  }

  .mobile-logo {
    position: absolute;
    margin: 20px 0 0 20px;
    width: fit-content;
    color: white;
    text-decoration: none;
  }

  /* Main */
  .uat,
  .university,
  .welcome,
  .sources {
    grid-column: span 6;
  }

  .sources {
    margin-top: 100px;
  }

  .university {
    border-bottom: 2px #A11F3E solid;
  }

  .welcome {
    background-image: url("../images/welcome-mobile.jpg");
  }

  /* Footer */
  footer {
    justify-content: space-around;
    padding: 0;
  }
  .footer-container {
    padding: 5px 0px;
  }
  footer a {
    padding: 0;
  }

  

}