/* General styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  background-color: white;
  border-top: #A11F3E solid 2px;
  border-bottom: #A11F3E solid 2px;
  height: fit-content;
  width: 100%;
}

h2 {
  text-align: center;
}

/* Grid */
.grid {
  width: 100vw;
  height: 260vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 9fr 15fr 1fr;
}

.grid-sources {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}

/* Navigation bar */
.navigation {
  grid-column: span 6;
  padding: 0 40px;
  display: flex;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #A11F3E;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: center;
}
.nav-row {
  margin: 10px 0;
}
.nav-row a {
  margin-left: 40px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  border-bottom: 2px #A11F3E solid;
}

.nav-row a:hover {
  color: #A11F3E;
}

/* Header */
.uat {
  grid-column: span 6;
  border-bottom: 2px #A11F3E solid;
  background-image: url("../images/diversity.jpg");
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.university {
  grid-column: span 3;
  border-right: 2px #A11F3E solid;
  background-image: url("../images/university.jpg");
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  grid-column: span 3;
  display: flex;
  background-image: url("../images/welcome.jpg");
  background-size: cover;
}

/* Footer */
footer {
  padding: 0 20px;
  grid-column: span 6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  background-color: #A11F3E;
}

footer a {
  padding: 5px;
  color: white;
}

.footer-container {
  padding: 10px;
}

/* Sources */
.sources {
  grid-column: span 6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.source {
  width: fit-content;
  height: fit-content;
  border: #A11F3E solid 2px;
  padding: 0 10px;
  margin: 20px;
}

/* Responsive design */
@media only screen and (max-width: 600px) {

  /* General styles */
  a {
    font-size: 14px;
  }

  /* Grid */
  .grid {
    height: 330vh;
    grid-template-rows: 2fr 8fr 8fr 13fr 2fr;
  }
  /* Navigation bar */
  .navigation {
    padding: 0px 0px;
  }
  .nav-row a {
    margin-left: 10px;
  }
  .nav-row {
    margin: 5px 0;
  }

  /* Main */
  .uat,
  .university,
  .welcome,
  .sources {
    grid-column: span 6;
  }

  .university {
    border-bottom: 2px #A11F3E solid;
  }

  .welcome {
    background-image: url("../images/welcome-mobile.jpg");
  }

  /* Footer */
  footer {
    justify-content: space-around;
    padding: 0;
  }
  .footer-container {
    padding: 5px 0px;
  }
  footer a {
    padding: 0;
  }

  

}