/* General styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  padding: 10px;
  background-color: white;
  border: #A11F3E solid 2px;
  height: fit-content;
  width: fit-content;
}

h2 {
  text-align: center;
}

/* Grid */
.grid {
  width: 100vw;
  height: 240vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 9fr 13fr 1fr;
}

/* Navigation bar */
.navigation {
  grid-column: span 6;
  padding: 5px 20px;
  display: flex;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #A11F3E;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
}

nav a {
  padding: 5px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #A11F3E;
}

/* Header */
.uat {
  grid-column: span 6;
  border-bottom: 2px #A11F3E solid;
  background-image: url("../images/diversity.jpg");
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.university {
  grid-column: span 3;
  border-right: 2px #A11F3E solid;
  background-image: url("../images/university.jpg");
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  grid-column: span 3;
  display: flex;
  background-image: url("../images/welcome.jpg");
  background-size: cover;
}

/* Footer */
footer {
  padding: 0 20px;
  grid-column: span 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  background-color: #A11F3E;
}

footer a {
  color: white;
}

/* Sources */
.sources {
  grid-column: span 6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.source {
  width: fit-content;
  height: fit-content;
  border: #A11F3E solid 2px;
  padding: 0 10px;
}

/* Responsive design */
@media only screen and (max-width: 600px) {
  .grid {
    height: 280vh;
    grid-template-rows: 2fr 8fr 8fr 8fr 2fr;
  }

  .uat,
  .university,
  .welcome,
  .sources {
    grid-column: span 6;
  }

  .university {
    border-bottom: 2px #A11F3E solid;
  }

  .welcome {
  }
}